AlignArrayOfStructures: Left
AlwaysBreakAfterReturnType: All
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Left
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
